
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #FF7F50, #e25822);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Kontainer utama */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo {
    width: 80px;
    margin-bottom: 10px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    background-color: #e25822;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #e25822;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

p a {
    color: #e25822;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}